body {
  color: #000;
  font-family: 'mtypewriter';
  background-image:url('paper.jpg');
  background-position:center;
}

@font-face {
  font-family: 'mtypewriter';
  src: url('mtypewriter.ttf')  format('truetype');
}

#quote-content {
  margin: 30px;
}

#quote-author {
  margin: 30px;
  text-align: right;
}

#btn {
  text-align: center;
  margin: 100px 30px;
  background-image:url('stamp.png');
  width: 225px;
  height: 226px;
  float: right;
}

button {
  width: 225px;
  height: 226px;
  cursor: pointer;
  text-transform: uppercase;
  background: none;
  border: none;
  outline: none;
}

h1:before, h1:after {
  content: '"';
}

h3:before {
  content: '-'
}
